<div class="dropdown-custom">
  <div class="dropdown-custom-btn">
    <div class="value-select">
      <span>VIE</span>
      <img src="./assets/images/flag/flag-vi.svg" alt="" />
    </div>
    <div class="icon">
      <svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.34082 0.5C6.67415 0.5 4.34082 2.5 3.67415 4.5C3.00749 2.5 0.674153 0.5 0.0074861 0.5" stroke="white"
          stroke-linejoin="bevel" />
      </svg>
    </div>
  </div>
  <div class="dropdown-custom-menu">
    <div class="dropdown-custom-item">
      <span>ENG</span>
      <img src="./assets/images/flag/flag-en.svg" alt="" />
    </div>
    <div class="dropdown-custom-item">
      <span>KOR</span>
      <img src="./assets/images/flag/flag-ko.svg" alt="" />
    </div>
  </div>
</div>