:root {
  --font-heading: "", sans-serif;
  --font-body: "", sans-serif;
  --color-black: #000000;
  --color-white: #ffffff;
  --space-8: 8px;
  --space-16: 16px;
  --space-24: 24px;
  --space-32: 32px;
  --space-40: 40px;
  --space-48: 48px;
  --space-56: 56px;
  --space-64: 64px;
  --space-72: 72px;
  --space-80: 80px;
  --spacing-padding: 120px 40px;
}

@media (max-width: 991px) {
  :root {
    --space-8: 8px;
    --space-16: 8px;
    --space-24: 16px;
    --space-32: 24px;
    --space-40: 32px;
    --space-48: 40px;
    --space-56: 48px;
    --space-64: 56px;
    --space-72: 64px;
    --space-80: 72px;
    --spacing-padding: 64px 16px;
  }
}
.color-black {
  color: var(--color-black);
}

.color-white {
  color: var(--color-white);
}

.limit-width {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .limit-11-col {
    max-width: 91.6666666667%;
    width: 100%;
    margin: 0 auto;
  }
  .limit-10-col {
    max-width: 83.3333333333%;
    width: 100%;
    margin: 0 auto;
  }
  .limit-9-col {
    max-width: 75%;
    width: 100%;
    margin: 0 auto;
  }
  .limit-8-col {
    max-width: 66.6666666667%;
    width: 100%;
    margin: 0 auto;
  }
  .limit-7-col {
    max-width: 58.3333333333%;
    width: 100%;
    margin: 0 auto;
  }
  .limit-6-col {
    max-width: 50%;
    width: 100%;
    margin: 0 auto;
  }
}
/* ================================
   Margin
   ================================ */
.mt-8 {
  margin-top: var(--space-8);
}

.mt-16 {
  margin-top: var(--space-16);
}

.mt-24 {
  margin-top: var(--space-24);
}

.mt-32 {
  margin-top: var(--space-32);
}

.mt-40 {
  margin-top: var(--space-40);
}

.mt-48 {
  margin-top: var(--space-48);
}

.mt-56 {
  margin-top: var(--space-56);
}

.mt-64 {
  margin-top: var(--space-64);
}

.mt-72 {
  margin-top: var(--space-72);
}

.mt-80 {
  margin-top: var(--space-80);
}

.mb-8 {
  margin-bottom: var(--space-8);
}

.mb-16 {
  margin-bottom: var(--space-16);
}

.mb-24 {
  margin-bottom: var(--space-24);
}

.mb-32 {
  margin-bottom: var(--space-32);
}

.mb-40 {
  margin-bottom: var(--space-40);
}

.mb-48 {
  margin-bottom: var(--space-48);
}

.mb-56 {
  margin-bottom: var(--space-56);
}

.mb-64 {
  margin-bottom: var(--space-64);
}

.mb-72 {
  margin-bottom: var(--space-72);
}

.mb-80 {
  margin-bottom: var(--space-80);
}

.ml-8 {
  margin-left: var(--space-8);
}

.ml-16 {
  margin-left: var(--space-16);
}

.ml-24 {
  margin-left: var(--space-24);
}

.ml-32 {
  margin-left: var(--space-32);
}

.ml-40 {
  margin-left: var(--space-40);
}

.ml-48 {
  margin-left: var(--space-48);
}

.ml-56 {
  margin-left: var(--space-56);
}

.ml-64 {
  margin-left: var(--space-64);
}

.ml-72 {
  margin-left: var(--space-72);
}

.ml-80 {
  margin-left: var(--space-80);
}

.mr-8 {
  margin-right: var(--space-8);
}

.mr-16 {
  margin-right: var(--space-16);
}

.mr-24 {
  margin-right: var(--space-24);
}

.mr-32 {
  margin-right: var(--space-32);
}

.mr-40 {
  margin-right: var(--space-40);
}

.mr-48 {
  margin-right: var(--space-48);
}

.mr-56 {
  margin-right: var(--space-56);
}

.mr-64 {
  margin-right: var(--space-64);
}

.mr-72 {
  margin-right: var(--space-72);
}

.mr-80 {
  margin-right: var(--space-80);
}

.mx-8 {
  margin-left: var(--space-8);
  margin-right: var(--space-8);
}

.mx-16 {
  margin-left: var(--space-16);
  margin-right: var(--space-16);
}

.mx-24 {
  margin-left: var(--space-24);
  margin-right: var(--space-24);
}

.mx-32 {
  margin-left: var(--space-32);
  margin-right: var(--space-32);
}

.mx-40 {
  margin-left: var(--space-40);
  margin-right: var(--space-40);
}

.mx-48 {
  margin-left: var(--space-48);
  margin-right: var(--space-48);
}

.mx-56 {
  margin-left: var(--space-56);
  margin-right: var(--space-56);
}

.mx-64 {
  margin-left: var(--space-64);
  margin-right: var(--space-64);
}

.mx-72 {
  margin-left: var(--space-72);
  margin-right: var(--space-72);
}

.mx-80 {
  margin-left: var(--space-80);
  margin-right: var(--space-80);
}

.my-8 {
  margin-top: var(--space-8);
  margin-bottom: var(--space-8);
}

.my-16 {
  margin-top: var(--space-16);
  margin-bottom: var(--space-16);
}

.my-24 {
  margin-top: var(--space-24);
  margin-bottom: var(--space-24);
}

.my-32 {
  margin-top: var(--space-32);
  margin-bottom: var(--space-32);
}

.my-40 {
  margin-top: var(--space-40);
  margin-bottom: var(--space-40);
}

.my-48 {
  margin-top: var(--space-48);
  margin-bottom: var(--space-48);
}

.my-56 {
  margin-top: var(--space-56);
  margin-bottom: var(--space-56);
}

.my-64 {
  margin-top: var(--space-64);
  margin-bottom: var(--space-64);
}

.my-72 {
  margin-top: var(--space-72);
  margin-bottom: var(--space-72);
}

.my-80 {
  margin-top: var(--space-80);
  margin-bottom: var(--space-80);
}

/* ================================
   Padding
   ================================ */
.pt-8 {
  padding-top: var(--space-8);
}

.pt-16 {
  padding-top: var(--space-16);
}

.pt-24 {
  padding-top: var(--space-24);
}

.pt-32 {
  padding-top: var(--space-32);
}

.pt-40 {
  padding-top: var(--space-40);
}

.pt-48 {
  padding-top: var(--space-48);
}

.pt-56 {
  padding-top: var(--space-56);
}

.pt-64 {
  padding-top: var(--space-64);
}

.pt-72 {
  padding-top: var(--space-72);
}

.pt-80 {
  padding-top: var(--space-80);
}

.pb-8 {
  padding-bottom: var(--space-8);
}

.pb-16 {
  padding-bottom: var(--space-16);
}

.pb-24 {
  padding-bottom: var(--space-24);
}

.pb-32 {
  padding-bottom: var(--space-32);
}

.pb-40 {
  padding-bottom: var(--space-40);
}

.pb-48 {
  padding-bottom: var(--space-48);
}

.pb-56 {
  padding-bottom: var(--space-56);
}

.pb-64 {
  padding-bottom: var(--space-64);
}

.pb-72 {
  padding-bottom: var(--space-72);
}

.pb-80 {
  padding-bottom: var(--space-80);
}

.pl-8 {
  padding-left: var(--space-8);
}

.pl-16 {
  padding-left: var(--space-16);
}

.pl-24 {
  padding-left: var(--space-24);
}

.pl-32 {
  padding-left: var(--space-32);
}

.pl-40 {
  padding-left: var(--space-40);
}

.pl-48 {
  padding-left: var(--space-48);
}

.pl-56 {
  padding-left: var(--space-56);
}

.pl-64 {
  padding-left: var(--space-64);
}

.pl-72 {
  padding-left: var(--space-72);
}

.pl-80 {
  padding-left: var(--space-80);
}

.pr-8 {
  padding-right: var(--space-8);
}

.pr-16 {
  padding-right: var(--space-16);
}

.pr-24 {
  padding-right: var(--space-24);
}

.pr-32 {
  padding-right: var(--space-32);
}

.pr-40 {
  padding-right: var(--space-40);
}

.pr-48 {
  padding-right: var(--space-48);
}

.pr-56 {
  padding-right: var(--space-56);
}

.pr-64 {
  padding-right: var(--space-64);
}

.pr-72 {
  padding-right: var(--space-72);
}

.pr-80 {
  padding-right: var(--space-80);
}

.px-8 {
  padding-left: var(--space-8);
  padding-right: var(--space-8);
}

.px-16 {
  padding-left: var(--space-16);
  padding-right: var(--space-16);
}

.px-24 {
  padding-left: var(--space-24);
  padding-right: var(--space-24);
}

.px-32 {
  padding-left: var(--space-32);
  padding-right: var(--space-32);
}

.px-40 {
  padding-left: var(--space-40);
  padding-right: var(--space-40);
}

.px-48 {
  padding-left: var(--space-48);
  padding-right: var(--space-48);
}

.px-56 {
  padding-left: var(--space-56);
  padding-right: var(--space-56);
}

.px-64 {
  padding-left: var(--space-64);
  padding-right: var(--space-64);
}

.px-72 {
  padding-left: var(--space-72);
  padding-right: var(--space-72);
}

.px-80 {
  padding-left: var(--space-80);
  padding-right: var(--space-80);
}

.py-8 {
  padding-top: var(--space-8);
  padding-bottom: var(--space-8);
}

.py-16 {
  padding-top: var(--space-16);
  padding-bottom: var(--space-16);
}

.py-24 {
  padding-top: var(--space-24);
  padding-bottom: var(--space-24);
}

.py-32 {
  padding-top: var(--space-32);
  padding-bottom: var(--space-32);
}

.py-40 {
  padding-top: var(--space-40);
  padding-bottom: var(--space-40);
}

.py-48 {
  padding-top: var(--space-48);
  padding-bottom: var(--space-48);
}

.py-56 {
  padding-top: var(--space-56);
  padding-bottom: var(--space-56);
}

.py-64 {
  padding-top: var(--space-64);
  padding-bottom: var(--space-64);
}

.py-72 {
  padding-top: var(--space-72);
  padding-bottom: var(--space-72);
}

.py-80 {
  padding-top: var(--space-80);
  padding-bottom: var(--space-80);
}

/* ================================
   Gap
   ================================ */
.gap-8 {
  gap: var(--space-8);
}

.gap-16 {
  gap: var(--space-16);
}

.gap-24 {
  gap: var(--space-24);
}

.gap-32 {
  gap: var(--space-32);
}

.gap-40 {
  gap: var(--space-40);
}

.gap-48 {
  gap: var(--space-48);
}

.gap-56 {
  gap: var(--space-56);
}

.gap-64 {
  gap: var(--space-64);
}

.gap-72 {
  gap: var(--space-72);
}

.gap-80 {
  gap: var(--space-80);
}

.gap-x-8 {
  column-gap: var(--space-8);
}

.gap-x-16 {
  column-gap: var(--space-16);
}

.gap-x-24 {
  column-gap: var(--space-24);
}

.gap-x-32 {
  column-gap: var(--space-32);
}

.gap-x-40 {
  column-gap: var(--space-40);
}

.gap-x-48 {
  column-gap: var(--space-48);
}

.gap-x-56 {
  column-gap: var(--space-56);
}

.gap-x-64 {
  column-gap: var(--space-64);
}

.gap-x-72 {
  column-gap: var(--space-72);
}

.gap-x-80 {
  column-gap: var(--space-80);
}

.gap-y-8 {
  row-gap: var(--space-8);
}

.gap-y-16 {
  row-gap: var(--space-16);
}

.gap-y-24 {
  row-gap: var(--space-24);
}

.gap-y-32 {
  row-gap: var(--space-32);
}

.gap-y-40 {
  row-gap: var(--space-40);
}

.gap-y-48 {
  row-gap: var(--space-48);
}

.gap-y-56 {
  row-gap: var(--space-56);
}

.gap-y-64 {
  row-gap: var(--space-64);
}

.gap-y-72 {
  row-gap: var(--space-72);
}

.gap-y-80 {
  row-gap: var(--space-80);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px solid #000;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button:focus {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}

body {
  width: 100%;
  min-height: 100vh;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: auto !important;
  -moz-osx-font-smoothing: grayscale !important;
}

.lightpick {
  --color-stroke: #ccc;
  --color-bg: #fff;
  --color-active-is-today: #0f0f0f;
  --color-active-is-today-opacity: rgba(15, 15, 15, 0.7);
}
.lightpick .lightpick__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
  background-color: var(--color-stroke);
  border: 1px solid var(--color-stroke);
}
.lightpick .lightpick__day {
  background-color: var(--color-bg);
}
.lightpick .lightpick__day.is-today {
  background-image: none;
  background-color: var(--color-active-is-today);
  color: var(--color-bg);
}
.lightpick .lightpick__day.is-end-date,
.lightpick .lightpick__day.is-end-date:hover,
.lightpick .lightpick__day.is-start-date,
.lightpick .lightpick__day.is-start-date:hover {
  background-image: none;
  background-color: var(--color-active-is-today);
  color: var(--color-bg);
  border-radius: none;
}
.lightpick .lightpick__day:not(.is-disabled):hover {
  background-image: none;
  background-color: var(--color-active-is-today-opacity);
  color: var(--color-bg);
}
.lightpick .lightpick__month-title,
.lightpick .lightpick__month-title > .lightpick__select-months {
  margin-left: 0;
  padding-left: 0;
  border-radius: 0;
  direction: ltr;
  text-align: left;
  width: max-content;
}
.lightpick .lightpick__days-of-the-week {
  margin-bottom: 8px;
  margin-top: 8px;
}
.lightpick .lightpick__day.is-disabled {
  text-decoration: line-through;
}
.lightpick .lightpick__days div {
  background-color: var(--color-bg);
}

.container-swiper {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}